<div id="finished-auctions">
    <h2>Remates Terminados</h2>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>

    <div class="item">
        <a class="thumb" href="#">
            <img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" />
        </a>
        <a class="title" href="#">Toyota Prius</a>
        <div class="winner">
            <p>$<span>2.00</span></p>
            <p>Sergio</p>
        </div>
        <div class="date">
            <p>10/12/2012</p>
        </div>
        <div class="time">
            <p class="headertype">Inicio:</p>
            <p>17:53</p>
            <p class="headertype">Fin:</p>
            <p>18:12</p>
        </div>
        <a class="btn" href="#" />Detalle</a>
    </div>
</div>