<div id="auctions">
    <h2>Remates Que Se Vienen!</h2>

    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
    <div class="item">
        <h2><a href="#">Nissan Z350</a></h2>
        <a class="thumb" href="#"><img src="http://www.desktopcar.net/wallpaper/11655-3/Nissan_Z350-44.jpg" alt="Nissan Car" /></a>
        <div class="timebanner">
            <p><span class="opendate">Hoy</span><span class="opentime">17:30</span></p>
        </div>
        <p class="seconds">15</p>
        <div class="stat">
            <p class="amount">$<span>2.54</span></p>
            <p class="latestbidder">popilonion</p>
        </div>
        <button class="btn btn-info">Pujar!</button>
    </div>
</div>
