@{
    ViewBag.Title = "Compra paquete de Lances! | MicroShopping";
}

<div id="compra-lances">
    <h1>Compra paquetes de Lances y te regalamos bonos completamente gratis!</h1>
    
    <div class="paquete">
        <h3>20 Lances <span>5 gratis!</span></h3>
        <img src="@Url.Content("~/Public/assets/images/coin.png")" alt="Paquete Lance" />
        <p>Un paquete pequeño pero potente! 20 Lances y te regalamos 5 lances completamente gratis!</p>
        @using (Html.BeginForm("CheckoutPackage", "Shop", FormMethod.Post))
        {
            <input type="hidden" name="packageId" id="packageId" value="1" />
            <input class="btn btn-info" type="submit" value="Comprar - $20.00!" />
        }
    </div>

    <div class="paquete">
        <h3>60 Lances <span>15 gratis!</span></h3>
        <img src="@Url.Content("~/Public/assets/images/bar.png")" alt="Paquete Lance" />
        <p>Para nuestros clientes que quieren ganar! 60 Lances y te regalamos 15 gratis!</p>
        @using (Html.BeginForm("CheckoutPackage", "Shop", FormMethod.Post))
        {
            <input type="hidden" name="packageId" id="packageId" value="2" />
            <input class="btn btn-info" type="submit" value="Comprar - $65.00!" />
        }
    </div>

    <div class="paquete">
        <h3>100 Lances <span>25</span></h3>
        <img src="@Url.Content("~/Public/assets/images/chest.png")" alt="Paquete Lance" />
        <p>Solo para gente que REALMENTE quiere ganar! 100 lances y 25 lances 100% gratuitos!</p>
        @using (Html.BeginForm("CheckoutPackage", "Shop", FormMethod.Post))
        {
            <input type="hidden" name="packageId" id="packageId" value="3" />
            <input class="btn btn-info" type="submit" value="Comprar - $110.00!" />
        }
    </div>
</div>
