@{
    ViewBag.Title = "Index";
}

<div class="admin-navigation">
    <ul class="nav nav-list">
        <li class="nav-header">Administracion</li>
        <li><a href="#">Usuarios</a></li>
        <li><a href="#">Remates</a></li>
        <li><a href="#">Paquetes de Lances</a></li>

        <li class="divider"></li>

        <li class="nav-header">Informacion</li>
        <li><a href="#">Paquetes Vendidos</a></li>
        <li><a href="#">Remates</a></li>
    </ul>
</div>

<div class="admin-content">
    <p>This is content.</p>
</div>